@import 'import';

.mission-info-container {
  position: absolute;
  display: flex;
  flex-flow: column;
  bottom: 70px;
  padding: 35px;

  @include mq($min-width: 767px) {
    bottom: 0;
  }

  sub {
    color: #BBBDBF;
    margin-top: 10px;
    font-style: italic;
  }
}